# Test config file


<Connection>
	ConnectionType= {{ connectionType }}
<\Connection>

<AccountInfo>
	user= {{ userName }}
        password= {{ userPassword }}
<\AccountInfo>

<OpratingSystem>
 	OpratingSystem= {{ ansible_os_family }}
<\OpratingSystem>

